.-topBar {
    margin: 20px 0px;
    flex: horizontal;
    gap: 12px;
    display: flex;
    align-items: center;
}

.-search {
    display: flex;
    flex: 1;
    direction: rtl;
    background: hsl(0, 0%, 80%);
    gap: 10px;
    border-radius: 16px;
    padding: 0px 16px;
    align-items: center;

}

.-search input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font: 18px;
}